body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  color: #256baf;
  background: rgba(23, 43, 142, 0.23);
}

a {
  color: @color-link;
  text-decoration: underline;
}
